/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
/* FONTES */
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Limelight';
    src: url(fonts/Limelight/Limelight-Regular.ttf);
}

/* CABEÇALHO */
#header {
    background-color: #296B45;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.itemImagem img {
    width: 220px;
}

.item {
    font: 500 2.3vh 'Montserrat', sans-serif;
}

.item a {
    color: #fff;
}

/* CONTEÚDO */
.fundo{
    background: url(img/imgCardapio.png) center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    margin: 0 150px;
}

.section {
    padding-top: 170px;
}

h1 {
    color: #fff;
    font: 500 7.5vh 'Limelight', sans-serif;
}

.navTudo {
    margin: 0 20%;
    position: sticky;
    top: 100px;
    bottom: 0;
    z-index: 80;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: #296B45;
    margin-top: 40px;
    border-radius: 16.5px;
}

.navegacao a {
    font: 500 2.8vh 'Limelight', sans-serif;
    color: #fff;
    margin: 8px 20px;
}


h3 {
    font: 400 35px 'Limelight', sans-serif;
}

h5 {
    color: #fff;
    font: 700 23px 'Montserrat', sans-serif;
    margin-top: 40px;
    margin-bottom: 10px;
}

p {
    color: #fff;
    font: 500 1.6vh 'Montserrat', sans-serif;
}

span {
    font-weight: bold;
}

.todosSaboresPrim {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
}

.todosSabores1, .todosSabores2, .todosSabores3, .todosSaboresPrim {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#coberturas .todasCoberturas {
    display: flex;
}

#coberturas .todasCoberturas .tiposSabores {
    margin: 10px;
}

.doisTipos {
    margin: 30px 20px;
}

#coberturas h5 {
    height: 30px;
}

.textoSabores {
    position: absolute;
    margin-left: 30px;
    width: 220px;
    display: flex;
    flex-direction: column;
}

.textoSabores2 {
    position: absolute;
    margin-left: 30px;
    display: flex;
    flex-direction: column; 
}

.baixo {
    margin-top: 220px;
}

.baixoCob {
    margin-top: 150px;
}

.tamanho {
    height: 80px;
}

.imgSabores img {
    border-radius: 16.5px;
}

.todosSabores .imgSabores img {
    width: 270px;
}

.todosSaboresPrim .imgSabores img {
    width: 350px;
}

footer{
    background-color: #BF0B20;
    color: white;
    margin-top: 160px;
}

.colunas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;
}

footer span{
    font: 600 16px 'Montserrat', sans-serif;
}

.titulo{
    font: 600 17px 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.texto{
    font: 400 14px 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    margin-top: 7px;
}

.textoFinal{
    font: 300 13px 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
}

.logoIMG{
    width: 250px;
}

.funcionamento{
    margin-top: 100px;
}

.horarios{
    margin-top: 10px;
}

.nossasPizzas, .unidade, .redes{
    margin-top: 50px;
}

.pizzas{
    display: flex;
    flex-direction: row;
}

.parte2{
    margin-left: 65px;
}

.home, .contato{
    margin-top: 28px;
}

.imagensRedes{
    margin-top: 15px;
    margin-left: 20px;
    height: 20px;
    align-items: center;
    display: flex;
}

.redesIMG{
    width: 30px;
    margin-right: 8px;
}

.redesIMG:hover{
    transition: 0.5s;
    width: 36px;
    filter: brightness(50%);
}

.unidade{
    width: 65%;
}

.linha {
    height: 0.5px;
    background-color: white;
}

.final {
    text-align: center;
    padding: 17px 0;
}
