/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
/* FONTES */
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Limelight';
    src: url(fonts/Limelight/Limelight-Regular.ttf);
}

/* CABEÇALHO */
#header {
    background-color: #296B45;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.itemImagem img {
    width: 250px;
}